.Container{
	width:100%;
	height:auto;
	margin-top:20px;
}
.Part1{
display:inline-block;
float:left;
width:20%;
height:200px;
background-color:red;
}
.Part2{
	display:inline-block;
float:left;
width:100%;
background-color:green;
}
.Part3{
	display:inline-block;
float:left;
width:30%;
height:200px;
background-color:yellow;
}
.insidePart1{
	width:60%;
	height:80%;
	background-color:white;
	margin:auto;
	margin-top:20px;
	font-size:20px;
	color:blue;
	border:2px solid black;
	border-radius:10px;

}
a{
	cursor:pointer;

}
